.complaintarea_container {
    display: flex;
    width: 100%;
    gap: 1.5rem;
    margin-bottom: 4rem;
}

.complaintarea_container > *{
    flex-grow: 1;
}

.textarea {
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem;
}

.label {
    margin-left: 0.5rem;
}